<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Dashboard</title>
</head>
<body>
    <h1>Transaction Dashboard</h1>
    <div class="table-responsive">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-white">
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Sender ID</th>
                    <th scope="col">Receiver ID</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Is Fraud</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.Transaction_id }}</td>
                    <td>{{ transaction.sender_id }}</td>
                    <td>{{ transaction.receiver_id }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.is_fraud }}</td>
                    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
