.navbar {
  background-color: #333;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 20px 0px 20px 10px;
  padding: 20px 0px 20px 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar {
  width: 200px;
  background-color: #333;
  padding: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
