body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

nav ul li {
    display: block;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    margin-left: 220px;
    margin-top: 80px;
    display: none;
}

.dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button#bottom-left-button,
button#bottom-left-button-2 {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above other elements */
}

button#bottom-left-button img,
button#bottom-left-button-2 img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%;
    margin-right: 10px; /* Adjust the spacing between buttons */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



